*{
        margin: 0;
        padding: 0;
    }
    
    img{
        display: block;
    }
    
*{
        text-decoration: none;
        list-style-type: none
    }

    .center {
        width: 1700px;
        margin: 0px auto;
    }

    .backgroundblack {
        background-color: black;
    }

    .navbar .center {
        height: 100px;
        color: white;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto', sans-serif;

    }

    .navbar .navigation ul {
        font-size: 0px;
    }

    .navbar .navigation ul li {
        display: inline-block;       
    }

    .navbar .navigation ul li a {
        color: white;
        margin-left: 80px;
        font-size: 16px;
    }

    .navbar .texte {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: 700;
    }

    .navbar .texte span {
        color: rgb(145, 11, 11);
    }

    .square {
        background-color: rgb(145, 11, 11);
        width: 10px;
        height: 10px;
        margin-top: 30px;
        margin-left: 5px;
        animation: zoom 2s infinite;
    }

    @keyframes zoom {
        0% {
            transform: scale(1);
        }
        25% {
            transform: scale(2);
        }
        50% {
            transform: scale(3);
        }
        75% {
            transform: scale(2);
        }
        100% {
            transform: scale(1);
        }
    }

    .kap {
        display: flex;
    }

    .header {
        background-image: url(../image/header.jpg);
        background-size: cover;
        height: 600px;
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    .header h1 {
        padding-top: 200px;
        font-size: 70px;
        margin-bottom: 50px;
    }


    .header h1 span {
        color: rgb(145, 11, 11);
    }

    .header .flex1 {
        font-family: 'Roboto', sans-serif;
    }
    .header .trait {
        background-color: grey;
        height: 3px;
        width: 450px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .header .container {
        display: flex;
    }

    .section1 {
        display: flex;
        height: 120px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        justify-content: space-between;
        border-bottom:rgb(129, 126, 126) solid;
        align-items: center;
        margin-bottom: 50px;
    }


    .section1 .article1 a {
        display: block;
        font-size: 20px;
        font-weight: 800;
        color: black;
    }


    .section1 .article2 a {
        color: rgb(123, 117, 117);
        animation: choc1 2s linear infinite;
    }


    .images {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    .images .image1 a :hover{
        width: 350px;
        height: 350px;
        transform: scale(1.5) rotate(30deg);
    }

    .images .image2 a:hover{
        width: 350px;
        height: 350px;
        }

    .images .image3 a :hover{
        width: 600px;
        height: 350px;
        transform: scale(1.5) rotate(-45deg);
    }

    .apropos {
        background-image: url(../image/about-us.jpg);
        background-size: cover;
        height: 300px;
    }
    .apropos .center{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 300px;
    }

    .apropos .article1 p{
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
    }

    .apropos .article1 p span {
        color:rgb(145, 11, 11) ;
    }

    .apropos .article2 {
        background-color: grey;
        height: 3px;
        width: 1100px;
        margin-right: 120px;
    }

    .workinprogress {
        height: 600px;
        display: flex;
    }

    .workinprogress .image {
        height: 600px;
        width: 70%;
        background-image: url(../image/work-in-progress.jpg);
    }

    .workinprogress .texte {
        font-family: 'Roboto', sans-serif;
    }

    .workinprogress .texte .titre p {
        font-size: 60px;
        font-weight: 600;
        padding-left: 100px;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .workinprogress .texte .titre p span {
        color: rgb(145, 11, 11);
        text-transform: uppercase;
    }

    .workinprogress .texte .paragraphe p {
        padding-left: 100px;
        margin-top: 20px;
        font-weight: bolder;
        padding-right: 70px;
    }

    .collection {
        background-image: url(../image/best-collection.jpg);
        background-size: cover;
        height: 600px;
        font-family: 'Roboto', sans-serif;
    }

    .collection h2 {
        color: white;
        font-weight: 300;
        text-align: center;
        padding-top: 150px;
    }

    .collection h2 span {
        color: rgb(145, 11, 11);
    }

    .collection p {
        color: white;
        text-align: center;
    }

    .encadre {
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
    }

    .encadre p {
        color: black;
        background-color: white;
        padding: 30px 0;
    }

    .encadre .encadre1 {
        height: 200px;
        width: 250px;
    }

    .encadre .encadre2 {
        height: 200px;
        width: 250px;
    }

    .encadre .encadre3 {
        height: 200px;
        width: 250px;
    }

    .expert {
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    .expert h2 {
        font-weight: 500;
        padding: 100px 0 30px 0;
    }

    .expert h2 span {
        color: rgb(145, 11, 11);
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 700;
    }

    .expert p {
        font-weight: 500;
        padding-bottom: 100px;
    }

    .images2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    .images .image4 a{
        width: 350px;
        height: 350px;
    }

    .images .image5 a{
        width: 350px;
        height: 350px;
    }

    .images .image6 a{
        width: 600px;
        height: 350px;
    }

    .images .image7 a{
        width: 600px;
        height: 350px;
    }

    .footer {
        height: 500px;
        font-family: 'Roboto', sans-serif;
    }

    .center1 {
        width: 800px;
        margin: 0 auto;
    }

    .containerfooter {
        display: flex;
        padding-top: 80px;
        justify-content: space-between;
    }

    .aboutus {
        width: 300px;
    }

    .aboutus p{
        color: white;
    }

    .trait2 {
        height: 3px;
        width: 80px;
        background-color: rgb(145, 11, 11);
        margin-bottom: 30px;
    }

    .footer .containerfooter .paragraphe p {
        color: grey;
        margin-bottom: 15px;
    }

    .facebook {
        color: grey;
        background-color: black;
        margin-right: 10px;
        font-size: 40px;
    }

    .linkedin {
        color: grey;
        background-color: black;
        margin-right: 10px;
        font-size: 40px;
    }

    .tweeter {
        color: black;
        background-color: grey;
        margin-right: 10px;
        font-size: 30px;
        height: 35px;
        margin-top: 5px;
    }

    .symboles {
        display: flex;
    }

    .quicklinks p {
        color: white;
    }

    .quicklinks ul li {
        padding-bottom: 20px;
    }

    .quicklinks ul li a{
        color: grey;
    }

    .contactinfo p {
        color: white;
    }

    .column {
        display: flex;
        justify-content: space-between;
    }

    .logoadress i{
        color: grey;
        background-color: black;
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .logophone i{
        color: grey;
        background-color: black;
        font-size: 25px;
        margin-top: 32px;
    }

    .logomail i{
        color: grey;
        background-color: black;
        font-size: 30px;
        margin-top: 30px;
    }

    .colonne2 p {
        color: grey;
    }

    .adress {
        margin-bottom: 25px;
    }

    .phone {
        margin-bottom: 30px;
    }

    .colonne2 {
        margin-left: 20px;
    }

    .mentions p {
        color: rgb(145, 11, 11);
        text-align: center;
        margin-top: 70px;
        font-size: 12px;
    }

    .titre p {
        font-size: 25px;
    }

    .quicklinks p {
        font-size: 25px;
    }

    .contactinfo .titreinfo p {
        font-size: 25px;
    }
    
